*{box-sizing: border-box}
header{ background-color:#FF6F61 ;}

.nav, ul, li {display: inline-block;}
nav{display: list-item;}
nav ul li{ display: inline-block;margin: 25px;}
nav{float: right;}

.column1{ float: left;width: 50%; padding: 10px;height: 200px;}
.column2{ float: left;width: 50%; padding: 10px;height: 400px;}
.column3{ float: left;width: 25%; padding: 10px;height: 200px;}
.column4{ float: left;width: 25%; padding: 10px;height: 200px;}
.column5{ float: left;width: 25%; padding: 10px;height: 200px;}
/* column 2 */
.row:after{ content: ""; display: table; Clear:both}

@media screen and (max-width:600px) {

    
}
    
.column1{width: 100%;}
.column2{width: 100%;}
.column3{width: 100%;}
.column4{width: 100%;}
.column5{width: 100%;}



.containerTab {
  padding: 20px;
  color: white;
}
row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column{
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  footer{ display: inline-block;
    width: 1700px;
    height: 7em;
    border-width:  0;;
    border-style:hidden; background-color:#FF6F61; margin-left: 1%;}
 